# Regresja liniowa krok po kroku

## 1. Zaimportuj wszystko co potrzeba

In [1]:
import pandas as pd
from sklearn import linear_model

## 2. Wczytaj dane

In [2]:
dane = pd.read_csv('ceny_aut.csv')

In [3]:
dane

   Wiek auta  Cena auta
0          1      30000
1          4      24000
2          7      19000
3          8      19000
4          9      16000
5         10      14500
6          3      25000
7          5      23000
8          2      27500

## 3. Przygotuj dane

In [5]:
x = dane['Wiek auta'].values
y = dane['Cena auta'].values

In [6]:
x = x.reshape(9, 1)
y = y.reshape(9, 1)

## 4. Stwórz model

In [9]:
model = linear_model.LinearRegression()

## 5. Dopasuj model do danych

In [7]:
model.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## 6. Dowiedz się ile kosztuje twoje auto :)

In [8]:
model.predict(6)

array([[ 21101.35135135]])